* {
  margin: 0;
}

.container .bg {
  height: 93vh;
}
.container .bg .icon-down-open {
  bottom: 9vh;
}
.container .section-breaker {
  height: 7vh;
}
.container .section-breaker .section-breaker-text {
  line-height: 7vh;
}
.container .content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 35px auto auto auto;
}
.container .content-container .content-top {
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.container .content-container .content-top .content-photo {
  width: 286px;
  height: 430px;
  background-size: cover;
  background-position: center center;
  box-shadow: -9px -9px 0px #D9B99B;
}
.container .content-container .content-top .content-text-container {
  min-width: 300px;
  max-width: 390px;
  background-color: #FFF0DB;
  font-size: 20px;
  margin: auto 10px auto 10px;
}
.container .content-container .content-top .content-text-container h1 {
  font-size: 1em;
  margin: 15px;
}
.container .content-container .content-top .content-text-container .text-content {
  line-height: 25px;
  font-size: 1em;
  text-align: left;
  margin: 15px;
  display: block;
}
.container .content-container .content-bottom {
  margin-top: 50px;
}
.container .contact-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 500px;
}
.container .contact-form .contact-form-info {
  min-width: 300px;
  max-width: 390px;
  min-height: 125px;
  background-color: #FFF0DB;
  font-size: 20px;
  margin-right: 10px;
  margin-left: 10px;
  display: flex;
  flex-direction: inherit;
  justify-content: space-around;
  align-items: inherit;
}
.container .contact-form .contact-form-info .contact-form-info-text {
  margin: 10px 5px;
  text-align: center;
  font-size: 20px;
}
.container .contact-form .contact-form-info-icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100px;
  font-size: 24px;
}
.container .contact-form .contact-form-info-icons .icon-instagram::before, .container .contact-form .contact-form-info-icons .icon-facebook::before {
  margin: 0;
}
.container .contact-form .inputs-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 250px;
}
.container .contact-form .inputs-container input, .container .contact-form .inputs-container textarea {
  width: 390px;
  display: block;
  font-family: "Josefin Sans", sans-serif;
  border: 2px solid #D9B99B;
}
.container .contact-form .inputs-container .submit-button {
  width: 395px;
  background-color: #D9B99B;
  border: 0;
  height: 35px;
  padding: 0;
  border: 2px solid #D9B99B;
  transition-duration: 0.4s;
}
.container .contact-form .inputs-container .submit-button:hover {
  background-color: #fff;
  cursor: pointer;
}

@media all and (min-width: 768px) {
  .container .content-container .content-top {
    height: 460px;
    width: 700px;
    flex-direction: row;
  }
  .container .content-container .content-top .content-text-container {
    width: 340px;
    height: 430px;
  }
  .container .content-container .content-top .content-photo-omnie-bottom {
    box-shadow: 9px -9px 0px #D9B99B;
  }
  .container .content-container .content-bottom {
    flex-direction: row-reverse;
  }
}

/*# sourceMappingURL=content.css.map */
