$josefin: 'Josefin Sans', sans-serif;
$dynalight: 'Dynalight', cursive;

$darkest-beige: #D9B99B;
$midddle-beige: #FFF0DB;
$light-beige: #FAF0E6;

*{
    margin: 0;
}

.container{
    .section-breaker{
        height: 60px;
        width: 100%;
        background-color: $light-beige;
        .section-breaker-text{
            line-height: 60px;
            text-align: center;
            font-family: $josefin;
            font-size: 22px;
            font-weight: lighter;
            color: #000;
        }
    }
    .sb-instagram{
        margin-top: 50px;
    }
    .card-container{
        max-width: 380px;
        height: 600px;
        margin: 35px auto auto auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        .photo{
            width: 286px;
            height: 430px;
            background-image: url(../../images/main/CardContainerPhoto.jpg);
            background-size: cover;
            //margin: 0px auto auto auto;
            box-shadow: -9px -9px 0px $darkest-beige;
        }
        .card-description{
            min-width: 286px;
            max-width: 380px;
            height: auto;
            background-color: $midddle-beige;
            //margin: 30px 10px auto 10px;
            font-size: 22px;
            text-align: center;
            padding: 5px;
        }
    }
    .button{
        width: 189px;
        height: 44px;
        background-color: $darkest-beige;
        margin: 25px auto auto auto;
        text-align: center;
        line-height: 44px;
        font-size: 20px;
        transition-duration: .4s;
    }
    .button:hover{
        cursor: pointer;
        background-color: #C8A88A;
        
    }
}

@media all and (min-width: 768px){
    .container{
        .section-breaker{
            height: 100px;
            .section-breaker-text{
                font-size: 32px;
                line-height: 100px;
            }
        }
        .card-container{
            max-width: 720px;
            display: flex;
            width: auto;
            justify-content: space-between;
            align-items: center;
            flex-direction: row;
            .photo{
                width: 340px;
                height: 512px;
                margin: auto;
            }
            .card-description{
                width: 290px;
                height: 440px;
                //display: none;
                font-size: 28px;
                line-height: 36px;
                text-align: left;
                padding: 10px;
            }
        }
        .button{
            width: 220px;
            height: 50px;
            line-height: 50px;
            font-size: 24px;
        }
    }
}
