* {
  margin: 0;
}

.container {
  overflow-x: hidden;
  font-family: "Josefin Sans", sans-serif;
  width: 100%;
}
.container .bg {
  width: 100vw;
  height: 100vh;
  background-image: url(../../images/CroppedLandingImageMobile.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #D9B99B;
  display: flex;
}
.container .bg nav {
  width: 100vw;
  height: 0px;
  background-color: #D9B99B;
  position: absolute;
  top: 0px;
  right: 0;
  z-index: 2;
  display: flex;
  justify-content: space-around;
  text-shadow: 1px 1px 2px #000;
  font-size: 30px;
  overflow-x: hidden;
  overflow-y: hidden;
  transition: 0.5s;
}
.container .bg nav .close-nav {
  height: 30px;
  width: 35px;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.5em;
  margin: 24px 35px auto auto;
  text-align: center;
  text-decoration: none;
  line-height: 50px;
  color: #fff;
}
.container .bg nav .nav-item {
  width: 100px;
  height: auto;
  margin: 150px auto auto auto;
  font-size: 0.8em;
  text-align: center;
  display: block;
  text-decoration: none;
  color: #fff;
}
.container .bg .text-logo {
  position: absolute;
  font-family: "Dynalight", cursive;
  font-size: 48px;
  color: #fff;
  text-shadow: 1px 1px 2px #000;
  margin: 15px 0px 0px 15px;
  top: 0;
  left: 0;
  z-index: 3;
}
.container .bg .text-logo .big-text {
  font-size: 1em;
}
.container .bg .text-logo .small-text {
  font-size: 0.5em;
  text-align: right;
}
.container .bg .nav-hamburger {
  width: 35px;
  height: 30px;
  margin: 35px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}
.container .bg .nav-hamburger .bar {
  width: 35px;
  height: 4px;
  background-color: white;
  box-shadow: 1px 1px 2px #000;
  margin-bottom: 6px;
}
.container .bg .icon-down-open {
  width: 25px;
  height: 25px;
  position: absolute;
  bottom: 15px;
  left: 47%;
  color: #fff;
  font-size: 24px;
  text-shadow: 1px 1px 2px #000;
}
.container .section-breaker {
  height: 60px;
  width: 100%;
  background-color: #FAF0E6;
}
.container .section-breaker .section-breaker-text {
  line-height: 60px;
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  font-size: 22px;
  font-weight: lighter;
  color: #000;
}
.container .sb-instagram {
  margin-top: 50px;
}
.container .card-container {
  width: 400px;
  height: auto;
  margin: 50px auto auto auto;
}
.container .card-container .photo {
  width: 286px;
  height: 430px;
  background-image: url(../../images/CardContainerPhoto.jpg);
  background-size: cover;
  margin: 0px auto auto auto;
  box-shadow: -9px -9px 0px #D9B99B;
}
.container .card-container .card-description {
  width: 380px;
  height: auto;
  background-color: #FFF0DB;
  margin: 30px auto auto auto;
  font-size: 22px;
  text-align: center;
  padding: 5px;
}
.container .button {
  width: 189px;
  height: 44px;
  background-color: #D9B99B;
  margin: 25px auto auto auto;
  text-align: center;
  line-height: 44px;
  font-size: 20px;
}
.container footer {
  width: 100%;
  height: 125px;
  background-color: #D9B99B;
}
.container footer .footer-upper {
  width: 90%;
  height: 95px;
  margin: 0px auto auto auto;
  border-bottom: solid 1px #000;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.container footer .footer-upper .footer-logo {
  width: 150px;
  height: auto;
  font-family: "Dynalight", cursive;
  font-size: 32px;
  text-shadow: 1px 1px 50px #000;
  margin-top: auto 0px;
  display: inline-block;
}
.container footer .footer-upper .footer-logo .big-text-footer {
  font-size: 1em;
}
.container footer .footer-upper .footer-logo .small-text-footer {
  font-size: 0.5em;
  text-align: right;
}
.container footer .footer-upper .references {
  display: inline-block;
}
.container footer .footer-upper .references .ref-item {
  font-size: 12px;
  color: #000;
  margin: 0px auto auto auto;
  padding: 9px;
  text-align: left;
}
.container footer .footer-upper .references .ref-item-bottom {
  margin-bottom: 0px;
}
.container footer .footer-upper .social-media {
  margin-right: 5px;
  font-size: 24px;
}
.container footer .footer-lower {
  height: auto;
  font-size: 11px;
  text-align: center;
  line-height: 100%;
  padding: 8px 0px;
}

/*# sourceMappingURL=style.css.map */
