<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Dynalight&family=Josefin+Sans:wght@300;600&display=swap" rel="stylesheet">
    <!-- StyleSheet -->
    <link rel="stylesheet" href="style.css">


    <title>Document</title>
</head>
<body>
    <div class="bg">
        <div class="text-logo">
            <div class="big-text">Urszula Małek</div>
            <div class="small-text">Fotografia Naturalna</div>
        </div>
        <div class="nav"></div>
    </div>
    
</body>
</html>