<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Dynalight&family=Josefin+Sans:wght@300;600&display=swap" rel="stylesheet">
    <!-- StyleSheet -->
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="css/fontello.css">


    <title>Document</title>
</head>
<body>
    <div class='container'>
        <div class="bg">
            <div class="text-logo">
                <div class="big-text">Urszula Małek</div>
                <div class="small-text">Fotografia Naturalna</div>
            </div>
            <div class="nav">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div>
            <i class="icon-down-open"></i>
        </div>
        <div class="section-breaker">
            <div class="section-breaker-text">Fotografia to moja pasja</div>
        </div>
        <div class="card-container">
            <div class="photo"></div>
            <div class="card-description">Fotografia typu lifestyle Tarnów/Kraków/Rzeszów.
                Z miłości do dzieci zrodziła się miłość do zdjęć.
                Chętnie wykonam sesje domowe lub fotoreportaż z ważnego dnia w Waszym życiu :) piszcie, pytajcie!</div>
        </div>
        <div class="button">Więcej o mnie</div>
        <div class="button">Umów się na sesję</div>
        <div class="section-breaker sb-instagram">
            <div class="section-breaker-text">Instagram</div>
        </div>
        <footer>
            <div class="logo-container"></div>
            <div class="references"></div>
            <div class="social-media"></div>
        </footer>
    </div>
    
</body>
</html>