<!DOCTYPE html>
<html lang="Pl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Dynalight&family=Josefin+Sans:wght@300;600&display=swap" rel="stylesheet">
    <!-- Fontello StyleSheet -->
    <link rel="stylesheet" href="css/fontello/fontello.css">
    <!-- Main StyleSheets -->
    <link rel="stylesheet" href="css/styles/common.css">
    <link rel="stylesheet" href="css/styles/content.css">
    <link rel="stylesheet" href="css/styles/photos.css">

    <title>Urszula Małek</title>

</head>
<body>
    <div class="container">
        <div class="bg kontakt-bg">

            <nav id="nav-body">
                <a href="javascript:void(0)" class="close-nav" onclick="closeNav()">×</a>
                <a href="omnie.html" class="nav-item">O mnie</a>
                <a href="oferta.html" class="nav-item">Oferta</a>
                <a href="kontakt.html" class="nav-item">Kontakt</a>
            </nav>

            <div class="text-logo">
                <a href="index.html">
                    <span class="big-text">Urszula Małek</span>
                    <span class="small-text">Fotografia Naturalna</span>
                </a>
            </div>
            <div class="nav-hamburger" onclick="openNav()">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div>
            <a href="#" id="scroll-down"><i class="icon-down-open"></i></a>
        </div>
        <div class="section-breaker" id="section-breaker">
            <div class="section-breaker-text">Kontakt</div>
        </div>

        <div class="contact-form">
            <div class="contact-form-info">
                <div class="contact-form-info-text">Możesz znaleźć mnie na moich social mediach
                     lub napisz wiadomość w formularzu poniżej :)</div>
                <div class="contact-form-info-icons">
                    <i class="icon-facebook"></i>
                    <i class="icon-instagram"></i>
                </div>
            </div>
            <form action="" class="inputs-container">
                <input type="text" placeholder="Jak się nazywasz?" name="uname">
                <input type="text" placeholder="Adres e-mail" name="umail">
                <textarea rows="10" type="text" placeholder="Twoja wiadomość..." name="umessage" class="message"></textarea>
                <input type="submit" placeholder="Wyślij" name="usubmit" class="submit-button">
            </form>
        </div>

        <div class="section-breaker sb-instagram">
            <div class="section-breaker-text">Instagram</div>
        </div>

        <footer>
            <div class="footer-upper">
                <div class="footer-logo">
                    <div class="big-text-footer">Urszula Małek</div>
                    <div class="small-text-footer">Fotografia Naturalna</div>
                </div>
                <div class="references">
                    <a class="ref-item" href="omnie.html">O mnie</a>
                    <a class="ref-item" href="oferta.html">Oferta</a>
                    <a class="ref-item ref-item-bottom" href="kontakt.html">Kontakt</a>
                </div>
                <div class="social-media">
                    <div class="social-media-ib">
                        <i class="icon-facebook"></i>
                        <a href="https://www.facebook.com/ulamalekfotografia" class="fb-anchor"></a>
                    </div>
                    <div class="social-media-ib">
                        <i class="icon-instagram"></i>
                        <a href="https://www.instagram.com/ulamalek/" class="ig-anchor"></a>
                    </div>
                </div>
            </div>
            <div class="footer-lower">© Urszula Małek - fotografia naturalna</div>
        </footer>

    </div>

        <!-- JavaScript-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script type="text/javascript" src="javascript/jquery.scrollTo.min.js"></script>
        <script type="text/javascript" src="javascript/scroll.js"></script>
    
        <script type="text/javascript" src="javascript/nav.js"></script>
</body>
</html>