<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Dynalight&family=Josefin+Sans:wght@300;600&display=swap" rel="stylesheet">
    <!-- Main StyleSheets -->
    <link rel="stylesheet" href="css/styles/omnie.css">
    <link rel="stylesheet" href="css/styles/common.css">
    <!-- Fontello StyleSheet -->
    <link rel="stylesheet" href="css/fontello/fontello.css">

    <title>Urszula Małek</title>

</head>
<body>
    <div class="container">
        <div class="bg">

            <nav id="nav-body">
                <a href="javascript:void(0)" class="close-nav" onclick="closeNav()">×</a>
                <a href="#" class="nav-item">O mnie</a>
                <a href="#" class="nav-item">Oferta</a>
                <a href="#" class="nav-item">Kontakt</a>
            </nav>

            <div class="text-logo">
                <div class="big-text">Urszula Małek</div>
                <div class="small-text">Fotografia Naturalna</div>
            </div>
            <div class="nav-hamburger" onclick="openNav()">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div>
            <a href="#" id="scroll-down"><i class="icon-down-open"></i></a>
        </div>

        <footer>
            <div class="footer-upper">
                <div class="footer-logo">
                    <div class="big-text-footer">Urszula Małek</div>
                    <div class="small-text-footer">Fotografia Naturalna</div>
                </div>
                <div class="references">
                    <div class="ref-item">O mnie</div>
                    <div class="ref-item">Oferta</div>
                    <div class="ref-item ref-item-bottom">Kontakt</div>
                </div>
                <div class="social-media">
                    <div class="social-media-ib">
                        <i class="icon-facebook"></i>
                        <a href="https://www.facebook.com/ulamalekfotografia" class="fb-anchor"></a>
                    </div>
                    <div class="social-media-ib">
                        <i class="icon-instagram"></i>
                        <a href="https://www.instagram.com/ulamalek/" class="ig-anchor"></a>
                    </div>
                </div>
            </div>
            <div class="footer-lower">© Urszula Małek - fotografia naturalna</div>
        </footer>

    </div>

    <!-- JavaScript-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript" src="javascript/jquery.scrollTo.min.js"></script>
    <script type="text/javascript" src="javascript/scroll.js"></script>

    <script type="text/javascript" src="javascript/nav.js"></script>
    
</body>
</html>